h2{
    color: white;
}

div {
    color: white;
}

.form{
    background-color: rgba(0, 0, 0, 0.45);
    width: 20vw;
    padding: 1.5rem;
    border-radius: 8px;

    div{
        margin: 3px;
    }
}